apiVersion: k8s.kiwi.com/v1
kind: VaultSecret
metadata:
  labels:
    app.kubernetes.io/name: vaultsecret
    app.kubernetes.io/instance: vaultsecret-sample
    app.kubernetes.io/part-of: k8s-vault-operator
    app.kuberentes.io/managed-by: kustomize
    app.kubernetes.io/created-by: k8s-vault-operator
  name: vaultsecret-sample
spec:
  addr: http://127.0.0.1:8200
  paths:
   - path: secret/mysecret
  targetSecretName: secrets-from-vault
  reconcilePeriod: 20s
  auth:
#    serviceAccountRef:
#      name: vault-operator-sync
#      authPath: auth/kubernetes/login
#      role: vault-operator
    token: testtoken